USE [Stocks]
GO
ALTER TABLE [dbo].[StockPrice] DROP CONSTRAINT IF EXISTS [FK_StockPrice_Company]
GO
/****** Object:  Table [dbo].[StockPrice]    Script Date: 3/4/2016 6:35:53 PM ******/
DROP TABLE IF EXISTS [dbo].[StockPrice]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/4/2016 6:35:53 PM ******/
DROP TABLE IF EXISTS [dbo].[Company]
GO
USE [master]
GO
/****** Object:  Database [Stocks]    Script Date: 3/4/2016 6:35:53 PM ******/
DROP DATABASE IF EXISTS [Stocks]
GO
/****** Object:  Database [Stocks]    Script Date: 3/4/2016 6:35:53 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Stocks')
BEGIN
CREATE DATABASE [Stocks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stocks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Stocks.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Stocks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Stocks_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stocks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stocks]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/4/2016 6:35:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Symbol] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[StockPrice]    Script Date: 3/4/2016 6:35:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StockPrice]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StockPrice](
	[StockPriceId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[OpeningPrice] [money] NULL,
	[ClosingPrice] [money] NULL,
 CONSTRAINT [PK_StockPrice] PRIMARY KEY CLUSTERED 
(
	[StockPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StockPrice_Company]') AND parent_object_id = OBJECT_ID(N'[dbo].[StockPrice]'))
ALTER TABLE [dbo].[StockPrice]  WITH CHECK ADD  CONSTRAINT [FK_StockPrice_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StockPrice_Company]') AND parent_object_id = OBJECT_ID(N'[dbo].[StockPrice]'))
ALTER TABLE [dbo].[StockPrice] CHECK CONSTRAINT [FK_StockPrice_Company]
GO
USE [master]
GO
